@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
border: 1px solid blue;

} */

@layer base{
  body {
      @apply dark:bg-gray-800 bg-white
  }
}


html,
body,
:root{
  margin: 0;
  padding: 0; 
  height: 100%;
}




.text-style {
  background: #616161;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-style:hover {
  background: linear-gradient(105.26deg, #3E06D6 0%, #901BB7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


@layer components {
  .miniButtons {
    @apply text-gray-600 bg-gray-100 outline-none text-center text-sm font-medium rounded-2xl px-2 py-1;

    /* Diğer stiller burada */

    /* Focus Stilleri */
    &:focus {
      outline: none;
      @apply text-white
            bg-gradient-to-l from-purple-600  to-indigo-700
            dark:bg-gradient-to-l dark:from-pinkGrad-100  dark:to-pinkGrad-100 
            ; 
      /* Özel odak çerçevesi rengi ve diğer stiller burada */
    }
  }

   .textStyle {
    @apply bg-clip-text text-transparent bg-[#616161] dark:bg-white text-sm font-semibold ;

    /* Diğer stiller burada */

    /* Focus Stilleri */
    &:hover {
      outline: none;
      @apply bg-gradient-to-l hover:from-purple-600  hover:to-indigo-700  dark:hover:from-pinkGrad-100  dark:hover:bg-gradient-to-l dark:hover:to-pinkGrad-100 
      /* Özel odak çerçevesi rengi ve diğer stiller burada */
    }
  }
 
}



::-webkit-scrollbar {
 display: none;
}

.connectWallet{
  border-image-slice: 1;
  border: 2px solid;
  border-color: linear-gradient(105.26deg, #3E06D6 0%, #901BB7 100%);
}





/* slider custom nokta kodları */

.swiper-pagination-bullet{
  width: 15px !important;
  height: 15px !important;
  background-color: white !important; /* İçi beyaz renkte bir arka plan ekler */
  border: 3px solid ;
  color:darkblue !important ;
  border-radius: 50px !important;
}

.swiper-pagination-bullet-active{
  width: 15px !important;
  height: 15px !important;
  border-radius: 50px !important;
  border: 1px solid transparent !important;
  background: linear-gradient(105.26deg, #3E06D6 0%, #901BB7 100%) !important;
}


@media (max-width: 768px) {
  .swiper-pagination-bullet {
    /* İlgili stil değişiklikleri burada yapılabilir */
    width: 15px !important;
    height: 15px !important;
    border: 3px solid;
  }

  .swiper-pagination-bullet-active {
    /* İlgili stil değişiklikleri burada yapılabilir */
    width: 15px !important;
    height: 15px !important;
  }
}




 