@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root{
  margin: 0;
  padding: 0;
  height: 100%;
}

.text-style {
  background: #616161;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-style:hover {
  background: linear-gradient(105.26deg, #3E06D6 0%, #901BB7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



.btn {
  color: #616161;
  background-color: #F9F6FE;
  outline: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 25px;
  padding: 0.25rem 0.5rem;
}

.btn:focus {
  color: #F9F6FE;
  background: linear-gradient(105.26deg, #3E06D6 0%, #901BB7 100%);
}


::-webkit-scrollbar {
 display: none;
}

.connectWallet{
  border-image-slice: 1;
  border: 2px solid;
  border-color: linear-gradient(105.26deg, #3E06D6 0%, #901BB7 100%);
}